<dx-pivot-grid
  [allowSortingBySummary]="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [allowExpandAll]="true"
  height="440"
  [showBorders]="true"
  [showColumnGrandTotals]="false"
  [fieldChooser]="fieldChooser"
  [dataSource]="dataSource"
></dx-pivot-grid>

<dx-chart
  [commonSeriesSettings]="commonSeriesSettings"
  [size]="size"
  [adaptiveLayout]="adaptiveLayout"
>
  <dxo-tooltip
    [enabled]="true"
    format="currency"
    [customizeTooltip]="customizeTooltip"
  ></dxo-tooltip>
</dx-chart>
